a{
    color: black;
}
#main-link a.active{
    font-weight: 700;
    text-decoration: underline;
}
.profile-photo-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-photo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: 20px;
  }